.myForm {
    margin : 50px auto auto auto;
    width: 450px;
    padding-top: 20px;
}

.myButton {
    margin-top: 50px;
}

.container2 {
    margin : 50px auto auto auto;
    width: 500px;
    height: 400px;
    border-style: groove;
    border-width: 3px;
    border-radius: 8px;
    padding-top: 20px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
}
